		
		*{margin:0;padding:0;text-decoration: none;}
 	   .main{background-color: #F5F5F5;}
	   body{font-size:12px;font-family:"微软雅黑";color:#666; background: #F5F5F5;}
		/*S top*/
	   .top{width:100%;height:36px;background: #FFFFFF;border-bottom: 1px solid #C5C6C5;}
	   .top .t_header{width:1200px;height:36px;margin:0 auto;line-height:36px;}
	   .top .t_header .sign{margin-left: 20px;color: #C5C6C5;}
	   .top .t_header .t_nav{float: left;}
	   .top .t_header .t_nav select::-ms-expand{display: none;}
	   .top .t_header .t_nav .t_sel{display: inline-block;width:140px;height: 22px; border-radius: 11px;padding-left: 20px;outline: none;border: 1px solid #DFDFDF;color: #B6B6B6;}
	   .top .t_header .t_nav a img{display: inline-block;width: 26px;height: 21px;vertical-align: middle;}
	   .top .t_header .t_nav .t_nav_img img{width: 23px;height: 16px;}
	   .top .t_header span{color:#FF7D49;}
	   .top .t_header .t_inf{float:right;}
	   .top .t_header .t_inf a{color: #C5C6C5;}
	   .top .t_header .t_inf a~a{margin-left: 20px;}
	   .top .t_header .t_inf a img{display: inline;}
       /*E top*/

       /*S nav*/
	   .nav{width:100%;margin:0 auto 20px;padding-top:25px;position:relative;background: #F5F5F5;}
	   .nav .nav_box{width: 1200px;margin: auto;}
	   .nav .nav_box .n_logo .l_txt{min-width: 180px;font-size: 45px;height: 70px;display: inline-block;line-height: 70px;text-align: center;border-left: 1px solid #C9C9C9;padding-left: 10px;color: #F2A432;}
	   .nav .nav_box .n_logo a img{margin-bottom: -20px;}
	   /*E nav*/
		
		/*S content*/
		.content{background: #F5F5F5;padding-top: 20px;}
		.content .c_box{width: 1200px;margin: auto;display: flex;flex-direction: row;}
		.content .c_box .c_left{width: 200px;}		
		.content .c_box .c_left ul li{list-style-type: none;width: 200px;height: 44px;border: 1px solid #F1F1F1;font-size: 20px;background: white;text-align: center;line-height: 44px;}
		.content .c_box .c_left ul li.active{background: #FAFAFA;border-left: 2px solid #F29700;}
		.content .c_box .c_left ul li~li{border-top: none;}
		.content .c_box .c_left ul li:first-child{background: #F29700;color: white;}
		.content .c_box .c_left ul li:first-child a{color: white;}
		.content .c_box .c_left ul li a{color: #8D8D8D;}
		
		.content .c_box .c_right{flex: 1;margin-bottom: 120px;}
		.content .c_box .c_right .r_up{background: white;height: 43px;line-height: 44px;border-bottom: 1px solid #F1F1F1;}
		.content .c_box .c_right .r_up a{color: #696969;min-width: 60px;height: 100%;margin-left: 40px;display: inline-block;font-size: 16px;}
		.content .c_box .c_right .r_up a.active{border-bottom: 3px solid #F29700;text-align: center;}
		
		.content .c_box .c_right .r_down{background: white;height: auto;width: 992px;margin: 7px 0 0 8px;padding-bottom: 80px;}
		.content .c_box .c_right .r_down .d_detail{display: flex;flex-direction: row;padding: 22px 0 0 40px;}
		.content .c_box .c_right .r_down .d_detail ul li{list-style-type: none;float: left;display: inline-block;}
		.content .c_box .c_right .r_down .d_detail .list-group-item .n_search{width:450px;height:40px;position: relative;}
		.content .c_box .c_right .r_down .d_detail .list-group-item .n_search select{position: absolute;height: 36px;border: none;top: 50%;margin-top: -18px;left: 2px;}
    	.content .c_box .c_right .r_down .d_detail .list-group-item .n_search .n_text .n_txt{width:407px;height:40px;border:1px solid #dfdfdf;line-height:38px;padding-left:55px;font-size:14px;color:#333;outline:none;float:left;}
    	.content .c_box .c_right .r_down .d_detail .list-group-item .n_search .n_text .n_sub{width:40px;height:40px;border:1px solid #dfdfdf;background:#fff;outline:none;float:left;border-left:none;font-size:20px;background-image: url(../img/search.png);background-repeat: no-repeat;background-size: 80% 80%;background-position: center;}
    	.content .c_box .c_right .r_down .d_detail .list-group-item button{height: 40px;width: 100px;background: #FABD00;border: none;margin-left: 20px;}
    	.content .c_box .c_right .r_down .d_detail .list-group-item:nth-child(2){margin-left: 210px;}
    	.content .c_box .c_right .r_down .d_detail .list-group-item{padding: 0;border: none;}
    	.content .c_box .c_right .r_down .d_detail .container .row .table{width: 900px;margin-top: 20px;}
    	.content .c_box .c_right .r_down .d_detail .container .row .table tr input[type="checkbox"]{width: 20px;height: 20px;}
    	.content .c_box .c_right .r_down .d_detail .container .row .table tr th{text-align: center;background: #F5F5F5;font-size: 16px;color: #787878;}
    	.content .c_box .c_right .r_down .d_detail .container .row .table tr th:nth-child(2){width: 260px;}
    	.content .c_box .c_right .r_down .d_detail .container .row .table tr td:nth-child(2) .media-body{vertical-align: middle;}
    	
    	.content .c_box .c_right .r_down .d_detail .container .row .table tr td{text-align: center;vertical-align: middle;}
    	.content .c_box .c_right .r_down .d_detail .container .row .table tr td:last-child{color: #FE5815;}
    	.content .c_box .c_right .r_down .d_detail .container .row .table tr td p{margin: 0;}
    	.content .c_box .c_right .r_down .d_detail .container .row .table tr td .media .media-left img{width: 86px;height: 88px;}
    	            
		.content .c_page .p_ul{width: 900px;padding-top: 24px;}
		.content .c_page .p_ul ul{float: right;}
		.content .c_page .p_ul ul li{width:34px;height: 34px;list-style-type: none;float: left;background: white;border: 1px solid #DEDEDE;text-align: center;line-height: 34px;font-size: 14px;margin-left: 8px;}
		.content .c_page .p_ul ul li a{color: #858585;}
		.content .c_page .p_ul ul li.active{background: #F29700;}
		.content .c_page .p_ul ul li.active a{color: white;}
		.content .c_page .p_ul ul li:first-child a{width: 0px;height: 0px;border-top: 7px solid transparent;border-right: 8px solid #3F3F3F;border-bottom: 7px solid transparent;display: block;margin-left: 50%;margin-top: 50%;transform: translate(-50%,-50%);}
		.content .c_page .p_ul ul li:last-child a{width: 0px;height: 0px;border-top: 7px solid transparent;border-left: 8px solid #3F3F3F;border-bottom: 7px solid transparent;display: block;margin-left: 50%;margin-top: 50%;transform: translate(-50%,-50%);}
		/*E content*/
		
		/*S footer*/
	   .footer{width:100%;height:200px;border-bottom:1px solid #dfdfdf;background-image: linear-gradient(to right,#fabe00,#f39700);color: black;}
	   .footer ul{width: 1200px;height: 105px;line-height: 105px;margin: auto;list-style-type: none;font-size: 14px;border-bottom: 1px solid black;}
	   .footer ul li{float: left;margin-right: 40px;}
	   .footer ul li img{display: inline;transform: translateY(40%);}
	   .footer ul li a{color: black;}
	   .footer .f_p{width: 1200px;margin: 20px auto;}
	   .footer  p{display: inline-block;font-size: 14px;}
	   .footer .f_p a{float: right;margin-right: 10px;}
	   /*E footer*/